body{
  font:normal 75% Arial, Helvetica, sans-serif;
  background-color: #FFFFFF;
}

/* The Header of the Page*/
.Head-Content{
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #C3002F;
  color:white;
  font-style: oblique;
}

.Head-Content .Name{
  padding-top:1px;
  padding-left: 10%;
  display: inline-block;
}

.Head-Content h1{
  font-weight: 700;
  font-size: 50px;
  border-bottom: 1px solid #DADADA;
}

.Head-Content h2{
  font-weight: 500;
  font-size: 25px;
  text-transform: uppercase;
}
.Head-Content .PersInfo{
  padding-right: 10%;
  font-size: 20px;
  display: inline-block;
  float:right;
  text-align: right;
  font-weight: 600;
  letter-spacing: 0.5px


}
.Head-Content .PersInfo ul{
  list-style: none;
  letter-spacing: 1px;
}

.Head-Content .PersInfo li{
  line-height: 2;
}

.Head-Content .PersInfo a{
  text-decoration: underline;
  color:#fff;
}
.Head-Content .PersInfo a:hover{
  text-decoration: underline;
  color:#bdbdbd;
}

.Container{
  width: 80%;
  margin:0 auto;
}
.Container h1{
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/* Top Part of the Page */
.Top-Content{
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-bottom: 1px solid #D4D4D4;
  padding-bottom: 20px;
}

.Top-Content li{
  letter-spacing: 1px;
}
.Top-Content ul strong{
  color:#C3002F;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.Top-Left{
  display: block;
  float: left;
}
.Top-Left h1{
  text-align: left;
}

.Top-Content img{
  float: left;
  margin-right: 10px;
  border: 2px solid #fdfdfd;
  border-radius: 6px;
  max-width:280px;
  min-width:100px;
}
.Top-Content ul{
  text-align: left;
  list-style: none;
  font-size: 18px;
}

.Top-Right{
  padding-left: 45%;
  display:block;
  float:right;
}

.Top-Right ul{
  text-align: right;
}

/* Middle Part of The Page */
.Middle-Content{
  border-bottom: 1px solid #D4D4D4;
  padding-bottom: 20px;
}

/* SlideShow Styling*/
/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.slideshow-container img{
  max-width:350px;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}
.mySlides {
  display: none;
  padding: 80px;
  text-align: center;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -30px;
  padding: 16px;
  color: #888;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  position: absolute;
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
  color: white;
}

/* The dot/bullet/indicator container */
.dot-container {
  text-align: center;
  padding: 20px;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

/* Add a background color to the active dot/circle */
.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}

.Bottom-Content{
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.Bottom-Content strong{
  color:#C3002F;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.Bottom-Content ul{
  list-style: none;
  font-size: 18px;
}

.Bottom-Left{
  display: block;
  float:left;
}

.Bottom-Left ul{
  text-align: left;
}

.Bottom-Right{
  display: block;
  float: right;
  padding-left: 45%;
}

.Bottom-Right ul{
  text-align: right;
}

.Bottom-Right p{
  font-size: 18px;
}
