.overlayContent {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	font: normal 75% Arial, Helvetica, sans-serif;
}

.modalContainer {
	display: flex;
	flex-direction: column;
	width: 100%;
	max-width: 768px;
	padding: 16px;
	gap: 16px;

	background-color: white;
	border-radius: 32px;
}

.modalHeader {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.modalTitle {
	width: 100%;
	text-align: center;
	font-weight: 600;
	font-size: 24px;
}

.modalCloseButton {
	width: 32px;
	height: 32px;
	border-radius: 32px;
	background-color: white;
	border: 1px solid black;
}

.modalItem {
	width: 100%;
}

.modalItem img {
	width: 100%;
}
